#topContainer {
    background-color: #5228f5;
    height: 100vh;
  }
  
  #headerContainer {
    background-color: #5228f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #centeredContainer {
    background-color: #5228f5;
    
    text-align: center; 
    padding: 20px; 

  }

  h1{
    max-width: 800px;
    font-size: 1.6em; 
    color: antiquewhite;
  }
/* Features */
#Features {
  flex: 1;
  display: flex;
  background-color: #f2dedaff;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Features1 {
  background-color: #f2dedaff;
  color: black;
  padding: 20px;
}

#Features1 h1 {
  font-size: 0.5em;
  margin: 0;
  padding: 1px;
  color: #5228f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Features1 h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 2px;
  color: black;
}

#Features1 p {
  font-size: 0.5em;
  margin: 0;
  padding: 1px;
  color: #595959ff;
}

.feature-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-box,
.feature-box2 {
  width: 48%;
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Gallery */
#Gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 98vh;
}

#Gallery1 {
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 5px;
}

.gallery-item {
  border-radius: 10px; /* Adjust the radius as needed */
  overflow: hidden;
}

.gallery-item img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Same as the border-radius of .gallery-item */
}



  /* FAQ */
#FAQ {
  flex: 1;
  display: flex;
  background-color: white;
  height: 46vh;
}

#FAQ1 {
  background-color: white;
  color: black;
  padding: 20px;
  width: 30%; /* Adjust as needed */
}

#FAQ2 {
  background-color: white;
  color: black;
  padding: 20px;
  width: 70%; /* Adjust as needed */
   display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;


}