.guide-activity-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    margin-top: 2em;
    background-color: black;
}

.guide-activity-card {
  position: relative;

}

.activity-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Adjust text color */
  font-size: 16px; /* Adjust font size */
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease-in-out;
}


.guide-activity-card:hover .activity-name {
  opacity: 1; 
  color: white;
}

.guide-activity-card img:hover {
  background-color: #333; 
  opacity: 0.4;
}


.guide-activity-card img {
    flex-shrink: 0;
    width: auto;
    height: 200px;
    width: 350px;
    object-fit: cover;
    margin-right: 2em;
    
}

.guide-activity-container::-webkit-scrollbar {
    height: 10px; /* Set the height of the scrollbar */
}

.guide-activity-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px; 
}

.guide-activity-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}