
.guide-reviews-container{
    margin-top: 2em;
    display: flex; 
    flex-direction: row; 
}


.rating-chart {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 50px;
}

.rating-bar {
    background-color: #f0f0f0;
    border: 1px solid gainsboro;
    
    border-radius: 5px;
    color: #fff;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
    text-align: center;
    position:relative;
    font-size: smaller;
}

.bar{
    background-color: orange;
    height: 100%;
    padding:0;
    margin:0;
    color: orange;
}
.percentage{
    position: absolute;
    right: -70px;
    top: -5px;
    color: blue;
}

.rating-stars{
    position: absolute;
    color: blue;
    left: -70px;
    top: -5px;
}

.guide-total-reviews{
    width: 30%; 

}

.guide-review-title{
    display: inline-flex;
}

.guide-reviews-card{
    /* border: 1px solid black; */
    margin-bottom: 2em;
}

.guide-reviews-block{
    width: 70%; 

}