

.carousel {
    position: sticky;
    top: 0;
    border: 2px solid gold;
  
}

.carousel-item{
    width: 500px;
    height: 600px;
}
.carousel-item img {
    object-fit:cover;
    width: 100%;
    height: 100%;
   
} 