

.tourist-plan-card{
    height: 200px;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    display: flex; 
    flex-direction: row;
    transition: 0.2s ease-in-out;
    
    
}

.tourist-plan-card:hover{
    cursor: pointer;
    background-color: #dfdfdf;

}

.tourist-plan-card img{
    height: 150px;
    width: 150px;
    object-fit: cover;

}

.plan-info{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    justify-content: space-between;
    height: 70%;
}