.filters-section {
    width: 80vw;
    border: 2px solid black;
    text-align: left;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    color: black;

}

.filter {
    padding: 1em;
    border: 1px solid black;
    margin: 10px;
    border-radius: 50px;
    transition: 0.1s ease-in-out;

}

.filter:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}

.filter.selected {
    background-color: black;
    color: white;
}