#topContainer {
    background-color: #5228f5;
    height: 100vh;
  }
  
  #headerContainer {
    background-color: #5228f5;
    
  }
  
  #centeredContainer {
    background-color: #5228f5;
    
    text-align: center; 
    padding: 20px; 

  }

  h1{
    font-size: 1.6em; 
    color: antiquewhite;
  }

  #Details {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  #Details2 {
    background-color: #5228f5;
    color: antiquewhite;
    padding: 20px;
  }
  h2 {
    font-size: 1.6em;
    margin: 0; 
  }