/* 
.guide-image-carousel{
    height: 500px;
    width: 500px;
} */


.guide-page-card {
    display: flex;
    flex-direction: row;
    padding: 2em;
    border: 2px solid salmon;
}

.carousel {
    position: sticky;
    top: 0;
    /* border: 4px solid blue; */
}

.carousel-item{
    width: 500px;
    height: 600px;
}
.carousel-item img {
    object-fit:cover;
    width: 100%;
    height: 100%;
   
} 

.guide-info-section {
    font-size: x-large;
    margin-left: 3em;
}