/* 
.guide-image-carousel{
    height: 500px;
    width: 500px;
} */


.guide-page-card {
    display: flex;
    flex-direction: row;
    padding: 2em;
    border: 2px solid salmon;
}

.carousel {
    position: sticky;
    top: 0;
  
}

.carousel-item{
    width: 500px;
    height: 600px;
}
.carousel-item img {
    object-fit:cover;
    width: 100%;
    height: 100%;
   
} 

.guide-info-section {
    font-size: x-large;
    width: 50%;
    margin-left: 3em;
    padding-right: 3em;
}

.guide-contact{
    font-size: x-large;
    border: 2px solid brown;
    width: 20%;
}

.guide-chat-title{
    margin-bottom: 2em;
}

.chat-icon{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid gainsboro;
    transition: 0.2s ease-in-out ;

}

.chat-icon:hover{
    cursor: pointer;
    animation: shake 0.5s ease-in-out;
}



@keyframes shake {
    0%, 100% {
        transform: rotate(0deg);
    }
    25%, 75% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}
.fa-comment{
    color: white;
}