

.add-activity-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    /* border: 2px solid gold; */
    justify-content: center;
}

.add-activity-card img{
   height: 200px;
    width: 350px;
    object-fit: cover;
}

.add-activity-card {
 margin: 20px 50px;
 position: relative;
 background-color: black;
}


.activity-name {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}


.add-activity-card:hover .activity-name {
    opacity: 1;
}

.add-activity-card img:hover {
    background-color: black;
    opacity: 0.6;
}

.add-activity-card img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.tick{
    color: green; 
    position: absolute;
    font-size: 100px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;

}

.ticked-name{
    color: white; 
    font-size: 15px;
}

.button-form{
    padding: 2em;
    display: flex;
    justify-content: center;
}

.button-form button{
    border-radius: 555px;
    padding: 1em;
}