

.create-plan{
    font-size: x-large;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

.plan-guide-info{
    display: flex;
    flex-direction: column;
    width: 35%; 
}

.create-plan-form-section{
    width: 65%; 
    margin-left: 2em;
}