

.search-card{
    height: 200px;
    margin: 2em;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #efefef;
     transition: 0.1s ease-in-out;
     overflow: hidden;
     width: 1300px; 
       transition: 0.5s ease-in-out;

}

.placeImage{
    width: 400px;
    height: 200px;
    transition: 0.5s ease-in-out;
}

.placeImage img{
      width: 100%;
  height: 100%;
  max-width: 100%; /* Ensures the image won't exceed the width of the parent container */
  max-height: 100%; /* Ensures the image won't exceed the height of the parent container */
  object-fit: cover;
  /* display: block; */
}



/* .search-card img{
   

    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     transition: 0.3s ease-in-out;
     overflow: hidden;
} */

.search-card:hover img{
    transform: scale(1.04); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.search-card:hover{
     filter: brightness(0.8);
     cursor: pointer;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-card-info{
    margin-left: 4em;
    padding: 1em;
}


.all-search{
    display: flex; 
    flex-direction: row;
    border: 2px solid red;
}

.places-summary{
    width: 30%;
    padding: 2em;
    border: 1px solid black;
    height: 100%; 
}

.places-summary ul{
     padding: 10px;
    list-style: none;
    
   
}


.places-container{
    width: 70%;
    border: 4px solid green;
    padding-top: 3em;
}

.search-card-info{

    max-width: 800px;
}