

.watch-list{
    /* font-size:x-large ; */
    padding: 2em;
}

.watchlist-container{
    display : flex; 
    border: 1px solid black;
}

.tourist-watchlist-card {
    margin: 2em;
    position: relative;
    transition: 0.2s ease-in-out;
}

.tourist-watchlist-card img{
    height: 150px; 
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.x-icon{
    position: absolute;
    top: -10px;
    right: -6px;
    border: 1px solid black;
    background: #fdfdfd;
    width: 25px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50px;



}


.tourist-watchlist-card:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}
