.guides-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
}

.guide-card {
    width: calc(50% - 20px);
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 3%;
}

.guide-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
}

.guide-card img {
    object-fit: cover;
    height: 70%;
    width: 100%;
    padding: 2%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.guide-card-details{
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.guide-filters{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.guide-filter{
    padding: 6px 10px;
    margin: 4px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    
}