
.activities-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

#activity-title{
    margin-bottom: 1em;
}
.activity-card {
    height: 120px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 10%;
    display: flex;
}

.activity-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.03);
}

.activity-card img{
    object-fit: cover;
    width: 40%;
    padding: 2%; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.activity-card-details{
    display: flex;
    align-items: center;
}